PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=fx_trading

JWT_SECRET=
JWT_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=

REDIS_HOST=localhost
REDIS_PORT=6379

FX_API_KEY=
FX_API_URL=https://v6.exchangerate-api.com/v6
FX_CACHE_TTL=300